/*@import '@ant-design/pro-table/dist/table.css';*/
/*@import '@ant-design/pro-form/dist/form.css';*/
@import '~antd/dist/antd.variable.css';

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0;
}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom: 0;
}

.ant-pro-table .ant-pro-card-border {
    border: 0;
}

.ant-pro-table .ant-pro-card-border .ant-pro-card-body {
    padding: 0;
}

.ant-input-affix-wrapper, .ant-btn, .ant-select:not(.ant-select-customize-input) .ant-select-selector, .ant-picker  {
    border-radius: 4px;
}

.ant-table.ant-table-middle .ant-table-tbody .ant-table-wrapper:only-child .ant-table {
    /* margin: -12px -8px -12px 25px; */
    margin: 0;
    padding-left: 48px;
    /*padding-left: 98px;*/
}
